#!/usr/bin/make -f
# rules
#
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_QMAKE_ARGS = $(CURDIR)/mapmap.pro

# after the directories are created but before dh_compress is run.
common-binary-post-install-arch::
	dh_buildinfo
	dh_installmime
